@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --page-background: 255, 255, 255;
  /* colors */
  --black-color: #141414;
  --white-color: #ffffff;
  --light-blue-color: #0a9aff;
  --dark-blue-color: #011c42;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  background: rgb(var(--page-background))
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.game-slider .swiper-button-next,
.game-slider .swiper-button-prev {
  color: white;
}

.game-slider .swiper-pagination-bullet {
  background: white;
}

.game-slider .swiper-pagination-bullet-active {
  background: #ffffff;
}
